<! DOCTYPE html>
<HTML>
    <body>
        <DIV>
            <div className = "cookie-seeMore">
                <h2 style = "font-weight: bold"> Политика использования файлов cookie </h2>
                <hr />
                <p style = "line-height: 100%">
В соответствии с Законодательным декретом № 196/2003, который заменяет Закон № 675/1996 о защите персональных данных, мы сообщаем вам, что, продолжая использовать этот веб-сайт, вы будете обрабатывать ваши персональные данные (конфиденциальные данные не будут обрабатываться каким-либо образом) ) что GeoSolutions SAS приобрела с помощью электронных и / или автоматических инструментов. В любом случае можно использовать права, предоставленные пользователю в соответствии с Законодательным декретом 196/2003 (доступ к данным, обновление, интеграция, удаление). Нажимая кнопку «Принять», вы подтверждаете, что прочитали этот текст и согласны на обработку персональных данных. Вы можете попросить редакторов GeoSolutions SAS отказаться от подписки на сервис в любое время, следуя инструкциям в конце каждого сообщения.
                </p>
                <h4 style = "font-weight: bold"> Что такое файлы cookie? </h4>
                <p style = "line-height: 100%"> Файл cookie - это текстовый файл, который веб-сайт хранит в браузере пользователя. Файлы cookie обычно позволяют сохранять предпочтения, выраженные пользователем, чтобы их нельзя было повторно установить позже. Браузер сохраняет информацию и отправляет ее обратно на сервер сайта, когда пользователь снова заходит на этот сайт. </p>
                <p style = "line-height: 100%"> Наши файлы cookie помогают нам: </p>
                <ul>
                    <li> Чтобы веб-сайт работал должным образом </li>
                    <li> Запомните настройки во время и между посещениями сайта </li>
                    <li> Повышение скорости безопасности сайта </li>
                    <li> Это позволяет вам делиться страницами с социальными сетями, такими как Facebook </li>
                </ul>
                <p style = "line-height: 100%"> Файлы cookie не используются в: </p>
                <ul>
                    <li> собирать всю личную информацию (без вашего согласия) </li>
                    <li> Соберите все конфиденциальные данные (без явного согласия) </li>
                    <li> передавать данные в рекламные сети </li>
                    <li> передавать личные данные третьим лицам </li>
<li> Чтобы сделать платные заказы на продажу </li>
                </ul>
                <p style = "line-height: 100%"> Ниже вы можете узнать больше обо всех файлах cookie, которые мы используем. </p>
                <p style = "line-height: 100%"> Если настройки программного обеспечения, которое вы используете для поиска на веб-сайте (в браузере), настроены на прием файлов cookie, мы принимаем их и продолжаем использовать наш веб-сайт в качестве согласия для использования куки. Если вы хотите удалить или не использовать куки с нашего сайта, вы можете сделать это, следуя инструкциям ниже. Однако это может привести к тому, что наш веб-сайт не будет работать должным образом. </p>

                <h4 style = "font-weight: bold"> Наши файлы cookie </h4>
                <p style = "line-height: 100%"> Мы используем файлы cookie для обеспечения определенных функций веб-сайта, в том числе: </p>
                <ul>
                    <li> Процессы входа и последующая аутентификация </li>
                    <li> Аутентификация для сервисов WMS, WFS, WPS через HTTP-запросы </li>
                </ul>
                <p style = "line-height: 100%"> Невозможно предотвратить установку этих файлов cookie, когда вы не используете наш сайт. </p>
                <h4 style = "font-weight: bold"> Сторонние файлы cookie </h4>
                <p style = "line-height: 100%"> Наш веб-сайт содержит, как и многие другие функции и услуги, которые предлагаются третьими сторонами. Типичным примером является встраивание видео на YouTube. Наш веб-сайт содержит следующие файлы cookie: </p>
                <ul>
                    <li> <a href="http://www.google.it/intl/it/policies/privacy/" target="_blank"> Google </a> </li>
                    <li> <a href="https://www.cloudflare.com/cookie-policy/" target="_blank"> Cloudflare </a> </li>
                </ul>
                <h4 style = "font-weight: bold"> Cookie-файлы для социальных сайтов </h4>
                <p style = "line-height: 100%"> Вы можете просто высказать свое мнение или поделиться контентом в Facebook и Twitter (мы вставили кнопки выпуска на нашей странице). Файлы cookie были активированы для: </p>
                <ul>
                    <li> Twitter </li>
                    <li> Facebook </li>
                    <li> Linkedin </li>
                    <li> Google + </li>
                </ul>
                <p style = "line-height: 100%"> Влияние на конфиденциальность зависит от социальных сетей и социальных сетей и зависит от настроек конфиденциальности, выбранных в этих сетях. </p>
                <h4 style = "font-weight: bold"> Отключить файлы cookie </h4>
                <p style = "line-height: 100%">
                    Обычно вы можете отключить файлы cookie, изменив настройки браузера, чтобы предотвратить их использование (см. <A href = "http://www.attacat.co.uk/resources/cookies/how-to-ban" target = "_ blank) "> здесь </a>). Однако это может ограничить функциональность нашего и многих веб-сайтов по всему миру (файлы cookie являются стандартной частью большинства современных веб-сайтов).
                </p>
                <p style = "line-height: 100%">
                    Ваши проблемы, связанные с файлами cookie, могут относиться к так называемым «шпионским программам». Вместо отключения файлов cookie в вашем браузере вы можете увидеть, что антишпионское программное обеспечение достигает той же цели, автоматически удаляя файлы cookie, которые считаются инвазивными. Пожалуйста, прочитайте <a href="http://www.attacat.co.uk/resources/cookies/how-to-control-your-online-privacy" target="_blank"> как управлять файлами cookie с помощью антишпионского программного обеспечения. </a> </a>.
                </p>
            </div>
        </div>
    </Body>
</Html>